packages/

/**/Scripts/*.js
/**/Scripts/*.min.map
/**/Scripts/*.min.js.map
/**/Scripts/*.js.map
/**/Scripts/*.md
/**/Scripts/*.js.flow
/**/Scripts/*.d.ts


/**/Scripts/umd/
/**/Scripts/src/
/**/Scripts/esm/

/**/obj/
/**/bin/

/**/Migrations/
/**/Content/
/**/fonts/

.vs/

*.csproj.user

*.sln

Web.Debug.config
Web.Release.config