packages/

/**/Scripts/*.js
/**/Scripts/*.min.map
/**/Scripts/*.min.js.map
/**/Scripts/*.js.map
/**/Scripts/*.md
/**/Scripts/*.js.flow

/**/Scripts/umd/
/**/Scripts/src/
/**/Scripts/esm/

/**/obj/
/**/bin/

/**/Migrations/
/**/Content/
/**/fonts/
/**/logs/


.vs/

*.csproj.user

Web.Debug.config
Web.Release.config