@model MoscowWeather.Models.ErrorMessagesModel

<h3>Загрузка документов завершена</h3>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<ul>
    @foreach (var c in Model.ErrorMessages)
    {
        <li>
            @c
        </li>
    }
</ul>
