

<div>
    <form enctype="multipart/form-data" id="file" method="post">
        <p>Загрузите один или несколько архивов с данными</p>
        <p>
            <input type="file" name="archives" multiple accept="application/x-exel">
            <input type="submit" value="Загрузить">
        </p>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/validate-filter")
}

