<div class="row pt-4  ml-3">
    <div class="col-3 mx-auto">
        @Html.ActionLink("Просмотр данных", "GetWeatherdata", "Weather", new { @class = "btn btn-outline-dark" })
    </div>
    <div class="col-3 mx-auto">
        @Html.ActionLink("Загрузка данных", "DownloadWeatherArchives", "Weather", new { @class = "btn btn-outline-dark" })
    </div>
</div>
