<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<appSettings>
		<add key="Date" value="true" />
		<add key="Time" value="true" />
		<add key="Temperature" value="true" />
		<add key="Humidity" value="true" />
		<add key="DewPoint" value="true" />
		<add key="Pressure" value="true" />
		<add key="WindDirection" value="true" />
		<add key="WindSpeed" value="true" />
		<add key="Cloudiness" value="true" />
		<add key="CloudBase" value="true" />
		<add key="HorizontalVisibility" value="true" />
		<add key="WeatherPhenomena" value="true" />
	</appSettings>
</configuration>